.image-text.image {
  position: relative;
  text-align: center;
}
.image-text.text {
  position: absolute;
  top: 200px;
  width: 600px;
  font-size: 48px;
  font-weight: bold;
  color: white;
  opacity: 0.9;
  text-align: center;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.spaced {
  margin: 10px
}
.imagen-horizontal {
  width: 600px;
  height: 400px;
}

.icon-number {
  position: relative;
  text-align: center;
}
.popup-number {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 14px;
  height: 14px;
  font-size: 9px;
  border-radius: 7px;
  background-color: red;
  font-weight: bold;
  color: white;
  text-align: center;
}

.seccion {
  background-color: #EEEEEE;
  color: #666666;
  border-radius: 5px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  font-weight: bold;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.margin-x-10px {
  margin-right: 10px;
  margin-left: 10px;
}

.justify-between {
  justify-content: space-between;
}

.app-card {
  background-color: #EEEEEE;
  border: 1px solid #999999;
  border-radius: 10px;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
}

.app-card >.img {
  width: 150px;
  height: 150px;
}

.app-card >.text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

h3 {
  font-weight: bold;
}

.danger {
  color: #dc3545;
}