.image-text.image {
  position: relative;
  text-align: center;
}
.image-text.text {
  position: absolute;
  top: 200px;
  width: 600px;
  font-size: 48px;
  font-weight: bold;
  color: white;
  opacity: 0.9;
  text-align: center;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.spaced {
  margin: 10px
}
.imagen-horizontal {
  width: 600px;
  height: 400px;
}
